.card-outer {
  width: 25vw;
  margin: 0 auto;
}

.card-inner {
  border-style: solid;
  position: absolute;

  background-color: white;
  background-repeat:no-repeat;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center center;

  width: 40vh;
  height: 40vh;

  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat:no-repeat;
}

.card-text {
  position: relative;
  top: 120px;
}
